.jumbotron
{
background-image:url('../bg.png');
background-attachment:fixed;
min-height:500px;
margin-bottom:0px;
}

.alt1
{
background:#eee;
min-height:400px;
}

.alt2
{
background:#333;
min-height:150px;
color:#fff;
text-align:center;
}

.padding
{
padding-top:20px;
padding-bottom:20px;
}

